{% extends "base.html" %}
{% block title %}Send a message{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Send a message
            </h1>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="row mt-3">
        <div class="col-md-12">
            <form action="/messages/send" method="POST">
                <div class="form-group">
                    <label for="to">To</label>
                    <select class="form-control" id="to" name="to">
                        {% for user in users %}
                        <option value="{{user.id}}">{{ user.email }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="body">Message</label>
                    <textarea class="form-control" id="body" name="body" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
